# Created by .ignore support plugin (hsz.mobi)
.vscode/*
cmake-build-debug/
cmake-build-release/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/
*.exe
*.exe~
*.pyc
*.log
.DS_Store

tflearn_logs/
bot/models/
bot/corpus/
venv/*
/eve


# mood anaylzer testing stuff
bot/models/
*.pkl
/bot/mood_analyzer/demo/models

# database
eve.sqlite