# Created by .ignore support plugin (hsz.mobi)
.vscode/*
cmake-build-debug/
cmake-build-release/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/
*.exe
*.exe~
*.pyc
*.log

tflearn_logs/
bot/models/
venv/*
*.pkl
/bot/mood_analyzer/demo/
