* {
    font-family: 'Courier New', Courier, monospace;
}

.chat {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

#log {
    padding: 5px;
    height: 300px;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
    overflow-y: auto;
}

#msg {
    margin: 0;
    width: calc(90% - 20px);
    resize: none;
}


#send {
    margin: 0;
    width: 10%;
    vertical-align: top;
}

.bot {
    text-align: left;
    clear: right;
}

.user {
    clear: left;
    float: right;
    text-align: right
}

.chat-list{
    float: left;
}

.bot-list{
    list-style: none;
}

.bot-list .bot{
    cursor: pointer;
    list-style: none;
    border: 1px solid black;
    display: block
}
.bot-list .bot a{
    width: 100%;
    padding: 5px;
    display: inline-block;
}

.bot-list .bot:hover{
    background-color: lightgrey;
}

#bot-active{
    background-color: red;
    color: white;
}

.msg {
    width: 75%;
}

form{
    vertical-align: top;
}