*{
    font-family: 'Courier New', Courier, monospace;
}

.chat{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

#log{
    padding: 5px;
    height: 300px;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
    overflow-y: auto;
}

#msg{
    margin: 0;
    width: calc(90% - 20px);
}

#send{
    margin: 0;
    width:10%;
}

.bot{
    text-align: left
}
.user{
    text-align: right
}

li.bot{
    cursor: pointer;
    list-style: none;
    padding: 5px 0;
    border: 1px solid black;
}

li.bot:hover{
    background-color: lightgrey;
}

#bot-active{
    background-color: red;
    color: white;
}