<!DOCTYPE HTML>
<html>
   <head>
        <title>EVE</title>
        <link rel="stylesheet" href="/static/style.css">
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/static/ws.js"></script>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="blur-svg">
			<defs>
				<filter id="blur-filter">
					<feGaussianBlur stdDeviation="3"></feGaussianBlur>
				</filter>
			</defs>
		</svg>
   </head>
   <body>
        <div class="content">
		<div class="chat-list">
			<div class="topBar">
			<div id="title">
				EVE - Datingassistance
			</div>
			<div id="username">
				{{.User.Name}} (Logout)
			</div>
			<div id="newBot">
                <button id="newBotButton" onclick="showPopup()" value=""></button>
			</div>
			</div>
			
        {{if .ActiveBot}}
            <div class="bot-list"><ul>
            {{range $bot := .Bots}}
                <li class="bot" id="{{if eq $.ActiveBot.ID $bot.ID}}bot-active{{end}}" botID="{{$bot.ID}}">
                    <a href="/?bot={{$bot.ID}}"><img src="http://via.placeholder.com/150x150"> {{$bot.Name}}</a>
                </li>
            {{end}}
        {{end}}
            </ul></div>
        </div>
        {{if .ActiveBot}}
        <div class="chat">
            <div class="topBar2">
			<img src="http://via.placeholder.com/150x150">
            <div id="botname">Chatting with: <b>{{.ActiveBot.Name}}</b></div>
			</div>
            <div id="log">
                {{range $msg := .Messages}}
                <p class="msg {{if eq $msg.Sender 1}}user{{else}}bot{{end}}">
                    {{$msg.Content}}
                        <span class="timestamp">{{time $msg.Timestamp}}</span>
                </p>
                {{end}}
            </div>
            <form id="form" autocomplete="off">
                <textarea id="msg" maxlength="200"></textarea>
                <input type="submit" value="" id="send"/>
            </form>
        </div>
		</div>
		
        {{end}}
		
		<div id="popup">
		<!--<h1>New chat.</h1>-->
		<div id="hidePopupButton"><button onclick="hidePopup()"></button></div>
		<div id="">
				<br /><div class="newbotdesc">Click on the picture to change your partner.</div><br /><br />
				<button id="imageinput" onclick="changeImagePopup()" value=""></button>
				
				<br /><p id="generatedName">Lara<button onclick="genName()"></button></p>
				
				<div class="switch-field"><input type="radio" id="switch_left" name="gender" value="f" onclick="onSexChange()" checked />
				<label for="switch_left">Female</label>
				<input type="radio" id="switch_right" name="gender" value="m" onclick="onSexChange()" />
				<label for="switch_right">Male</label></div><br />
				
                <br /><form method="post" action="/createBot">
				<input id="nameID" name="nameID" type="hidden" value=""/>
				<input id="picID" name="picID" type="hidden" value=""/>
				<input id="sex" name="sex" type="hidden" value=""/>
				<input class="button" type="submit" value="Let's go!"/>
				</form>
		</div>
		</div>
		
   </body>
</html>