<!DOCTYPE HTML>
<html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="/static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
		<link rel="manifest" href="/static/favicons/site.webmanifest">
		<link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#27b79b">
		<link rel="shortcut icon" href="/static/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
	<div class="contentReg">
		<div class="topBarReg">
			<div id="title">
				EVE - Datingbots
			</div>
			<div id="username">
				Registrierungsformular
			</div>
		</div>	
		
		<div class="inputcontentpadding"><form method="POST" action="/createUser">
			<div class="inputcontainer"><input type="text" name="username" maxlength="30" required=""/><label>Benutzername</label></div>
			<div class="inputcontainer"><input type="password" name="password" maxlength="100" required=""/><label>Passwort</label></div>
			<input type="submit" value="Registrieren" class="button"/>
		</form></div>
		
		</div>
	</body>
</html>