<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
   <head>
      <title>Register</title>
   </head>
   <body>
   <h1>Registieren:</h1>
        <form method="POST" action="/createUser">
            <input type="text" name="username" placeholder="Benutzername"/>
            </br>
            <input type="password" name="password" placeholder="Passwort"/>
            </br>
            <input type="submit" value="Registrieren"/>
        </form>
   </body>
</html>