<!DOCTYPE HTML>
<html>
   <head>
      <title>Register</title>
	  <link rel="stylesheet" href="/static/style.css">
   </head>
   <body>
   
		
	<div class="contentReg">
			<div class="topBarReg">
			<div id="title">
				EVE - Datingbots
			</div>
			<div id="username">
				Registrierungsformular
			</div>
			</div>	
		
        <div class="inputcontentpadding"><form method="POST" action="/createUser">
			<div class="inputcontainer"><input type="text" name="username" maxlength="30" required=""/><label>Benutzername</label></div>
			<div class="inputcontainer"><input type="password" name="password" maxlength="100" required=""/><label>Passwort</label></div>
            <input type="submit" value="Registrieren" class="button"/>
        </form></div>
		
		</div>
   </body>
</html>